{% extends 'theme.html' %}

{% block title %}
Edit Photo
{% endblock title %}


{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Edit Photo</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="table">

            {{ form }}

        </table>

        <button class="btn btn-primary mt-5" type="submit">Save Record</button>
        <br>
        <a class="btn btn-danger mt-5" href="delete">Delete Record</a>
    </form>

</div>

{% endblock content %}