<!-- Portfolio Items-->
<a href="../hero/{{ h.pk }}" class="col-md-6 col-lg-4 mb-5">
    <div class="portfolio-item mx-auto" style="width: 400px;">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <img style="width: 400px; height: 400px; object-fit: cover;" src="/media/{{ h.image.image_url }}" alt="..." />
    </div>
</a> 