{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">

    <h1 class="text-primary">Author Details</h1>

    <div class="container">
        <div class="row">

            <div class="col-lg">

                <table class="table">
                    <tr>
                        <td><b>User ID:</b></td>
                        <td>
                            {{ object.user.username }}</a>
                    </tr>
                    <tr>
                        <td><b>Biography</b> </td>
                        <td>{{ object.bio }}</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

    <a href="/author/{{ object.pk }}/" class="btn btn-success m-5">Edit Author</a>
    <a href="/author/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Author</a>
</div>

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">My Superheroes</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">

            {% for h in heroes %}

            <!-- Portfolio Items-->
            <a href="../hero/{{ h.pk }}" class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" style="width: 400px;">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img style="width: 400px; height: 400px; object-fit: cover;" src="/static/images/{{ h.image }}" alt="..." />
                </div>
            </a> 

            {% endfor %}

            <p>
                <a href="../hero/add" class="btn btn-success m-5">Add New Hero</a>
            </p>

        </div>
    </div>
</section>
{% endblock content %}