{% extends 'theme.html' %}

{% block content %}

<!-- Masthead-->
<header class="masthead text-white text-center" style="background-color: rgb({{ hero.primary_rgb }});">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src=" /media/{{ hero.image }} " alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0"> {{ hero.hero_name }} </h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0"> {{ hero.real_name }} </p>
    </div>
</header>
<!-- Quote Section-->
<section class="page-section text-secondary mb-0">
    <div class="container">
        <h2 class="text-secondary text-center"><em>{{ hero.quote }}</em></h2>
    </div>
</section>
<!-- About Section-->
<section class="page-section text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">{{ hero.about_1 }}</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">{{ hero.about_2 }} <br><br> <em>Taken from <a href="{{ hero.about_source }}">{{ hero.about_source }}</a></em></p></div>
        </div>
        <br><br><br>

        {% include '_cards.html' %}

        <div class="row">
            <b>By {{ hero.investigator.user.username }}</b>
        </div>
        
    </div>
</section>

<p>
    <a href="{{ hero.pk }}/edit" class="btn btn-success m-5">Edit</a>
</p>

{% endblock content %}